.user {
    display: grid;
    background-color: #212830;
    color: rgb(218, 218, 218);
    grid-template-columns: 20% 10% 20% 15% 20% 10% 5%;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        padding: 8px;

        h2 {
            font-size: 20px;
        }
    }

    .user-functions {
        display: flex;
        flex-direction: row;
        background-color: rgb(61, 214, 120);

        img {
            width: 35px;
            height: 35px;
            transition: transform 0.2s ease-in-out;
        }

        img:hover {
            transform: scale(1.2);
            cursor: pointer;
          }
    }

    .user-name {
        border-left: 1px solid black;
    }
}